body
{ display: flex;
  flex-direction: column;
  color:rgb(4, 140, 126);
  background-color: antiquewhite;
  text-align: center;
}

.btn {
  background-color: palevioletred;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}
